# 데이터 파일
data/EDA
data/processed/train/
data/processed/test/
data/processed/embeddings/
data/processed/protein_sequences/*
data/processed/saac/*
data/processed/gene_info.csv

# 기타 파일
ipynb/ignore/
logs/
checkpoints/

# 파이캐시
__pycache__/

# OS별 캐시파일
# macOS
.DS_Store
# Windows
Thumbs.db

# 특정 확장자 파일
*.pyc
*.log
*.tmp
*.xlsx
*.zip

# 포함할 파일
!data/processed/protein_sequences/genes_*.txt
!data/processed/saac/high_freq_genes.txt