# 대용량파일
data/

# 기타파일


# 파이캐시
__pycache__/

# OS별 캐시파일
.DS_Store  # macOS
Thumbs.db  # Windows

# 특정 확장자 파일
*.pyc
*.log
*.tmp
*.ipynb
*.xlsx

# 포함할 파일
!ipynb/single_aa_embedding_model.ipynb
!ipynb/input_data_processing.ipynb
!ipynb/extract_SAAC_features.ipynb